@charset "utf-8";

/* HTML and Body Styles */
html {
    background-color:lightgray;
}

html > h1 {
    text-align:center;
}
body > article {
    text-align:center
}

body {
    padding-top: 20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 20px;
}




/* Heading Styles */






/* Aside and Blockquote Styles */





/* Navigation Styles */	





/* List Styles */





/* Footer Styles */






