body {
    background-color:lightslategray;
    margin: 0px;
}

.main {
    margin: auto;
    width: 40%;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    background-color:wheat;
    border-radius: 25px;
}

.solution {
    margin: auto;
    width: 60%;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    background-color: wheat;
    border-radius: 25px;
}

.dookie_pic {
    max-height: 15%;
    max-width: 15%;
}

.topbar {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    justify-content: center;
    border-bottom: 3px solid black;
    background-color: wheat;
}

.grid-container {
    display: grid; 
    gap: 5px;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    grid-template-columns: repeat(2, minmax(0,1fr));
}

.solutionGrid {
    display: grid; 
    gap: 5px;
    justify-content: center;
    margin: auto;
    padding: 5px;
    grid-template-columns: repeat(2, minmax(0,1fr)); 
}

#txtPicker, #dayMenu {
    display: block;
    margin: auto;

}

#txtPicker {
    display: none;
}

.filePLabel {
    border: 1px solid black;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color:whitesmoke;
    border-radius: 5px;
}